nav {
  background-color: #9E9D6D;
  position: sticky; 
  top:0;
  z-index: 1000;
  border-bottom: solid 4px #DDCAB9;
}
nav ul {
  padding-top: .6em;
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around; 
}
nav a {
  color: #F8F4F1;
  text-decoration: none;
  padding: .5em 1em;
  font-family: "Lucida Console", monospace;
}
li a:hover{
  background-color: #6F7C44;
  border-radius: 25px;
}
body{
  background-color: #F8F4F1;
}
.title{
  color: #F8F4F1;
  background-color: #DDCAB9;
  display: flex; 
  justify-content: center;
  font-size: 25px;
  font-family: "Lucida Console", monospace;
  margin: 0;
  padding: 10;
  position: sticky; 
  
}
.small-image {
  width: 500px;  /* Set width to 100% to make it responsive */
  height: auto;
}
.Questions{
  text-align: center;
  color: #768529;
  padding: .10em;
  background-color: #DDCAB9;
  display: flex; 
  justify-content: space-between;
  font-size: 60px;
  margin: 12px;
  padding: 0;
}

.box{
  color: #9E9D6D;
  padding: .10em;
  display: flex; 
  justify-content: center;
  font-size: 50px;
  margin: 12px;
  padding: 2;
  position: sticky; 
  text-align: center;

}
.parent-container {
  display: flex;              
  justify-content: space-between;
  align-items: flex-start;   
  margin: 0;        
  padding: 1em;   
  flex-wrap: wrap;
}

.Info {
  position: sticky; 
  text-align: center;
  color: #768529;
  border: 20px solid #9E9D6D; 
  padding: .10em;
  background-color: #DDCAB9;
  display: flex; 
  justify-content: center; 
  font-size: 25px;
  padding: 6em;             /* Adjust padding as needed */
  max-width: 300px; 

}
.Closures {
  text-align: center;
  color: #768529;
  border: 20px solid #9E9D6D; 
  padding: .10em;
  background-color: #DDCAB9;
  display: flex; 
  justify-content: center; 
  font-size: 25px;
  padding: 6em;             /* Adjust padding as needed */
  max-width: 300px; 
  height: 493px;
  min-width: 300px;
}
.Contact{
  position: sticky; 
  text-align: center;
  border: 20px solid #9E9D6D; 
  color: #768529;
  padding: .10em;
  background-color: #DDCAB9;
  display: flex; 
  justify-content: center;
  font-size: 25px;
  margin: 12px;
  padding: 2em;
}