
.container_2{
    display:flex;
    justify-content: space-around;
    /* border: 5px solid black; */
    flex-wrap: wrap;
    background-color: #9E9D6D;
    padding: 5px;
 }
 .box{
    width: 30%;
    /* height: 200px; */
    padding:1%;
    color:#6F7C44;
   
   
 }
 #box1{
    background-color: #F8F4F1;
   
 }
 .box img{
    width:80%;
    display: block;
    margin: auto;
    padding:3%;
 }
 #box2{
    background-color: #F8F4F1;
 }
 #box3{
    background-color: #F8F4F1;
 }
 
 #box1_2{
    background-color: #F8F4F1;
   
 }
 
 #box2_2{
    background-color: #F8F4F1;
 }
 #box3_2{
    background-color: #F8F4F1;
 }
 
 #box1_3{
    background-color: #F8F4F1;
   
 }
 
 #box2_3{
    background-color: #F8F4F1;
 }
 #box3_3{
    background-color: #F8F4F1;
 }
 #box1_4{
    background-color: #F8F4F1;
 }
 
 .date {
    color: #6F7C44;
    font-weight: bold;
 }
 .schedule{
    color: #6F7C44;
    background-color: #DDCAB9;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Lucida Console", monospace;
    margin-top: 8%;
    margin-bottom: 10px;
 }
 
 
 body{
    background-color: #F8F4F1;
 }
 
 